body {
    font-family: Arial, sans-serif;
    background-color: #cac6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
}

.header, .footer {
    background-color: #32cd32;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: flex;
    padding: auto;

}

.sidebar {
    background-color: #32cd32;
  
    padding: 30px;
    width: 10%;
     height:100px;
    font-weight: bold;
    float: left;
}

.content {
    width: 80%;
    padding: 10px;
}

.content1 {
    background-color: limegreen;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-row{
    display: flex;
    justify-content:space space-between;
}

.content2, .content3 {
    background-color: limegreen;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    width: 80%;
}

.footer {
    margin-top: 10px;
}
