* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1000px;
}

.header, .footer {
    background-color: #3f3f5a;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 18px;
}

.menu {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 30px;
}

.content-wrapper {
    display: flex;
}

.left, .right {
    width: 20%;
    padding: 20px;
    color: white;
    text-align: center;
}

.left {
    background-color: #a04040;
}

.content {
    width: 60%;
    background-color: #00aaff;
    padding: 20px;
    text-align: center;
    color: white;
}

.right {
    background-color: #8a75ff;
}

.footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding:40px;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left, .right, .content {
        width: 100%;
    }
}
