* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e6dede;
}

.navbar {
    background-color: #1a1d23;
    color: rgb(202, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 35px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.menu-toggle {
    display: none;
    background-color: #1a1d23;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1a1d23;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
}